<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="ilc">
      <section name="harvester" type="Ilc.InformationHarvester.Configuration.HarvesterConfiguration, Ilc.InformationHarvester" />
      <section name="informationRepository" type="Ilc.InformationRepository.IntegrationConfiguration, Ilc.InformationRepository" />
      <section name="authentificationIntegration" type="Ilc.Authentification.Integration.IntegrationConfiguration, Ilc.Authentification.Integration" />
    </sectionGroup>
  </configSections>
 
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

<ilc>
    <harvester harvesterCode="c1355f59-f6e1-4d26-a1af-adbc7a574b56" />
    <informationRepository factory="InformationRepositoryFactory" />
    <authentificationIntegration service="AuthentificationService" />
  </ilc><connectionStrings>
    <add name="AuthentificationRepository" connectionString="Ilc" />
    <add name="InfoPointRepository" connectionString="Ilc" />
    <add name="InformationObjectRepository" connectionString="Ilc" />
  </connectionStrings><system.webServer>
    <directoryBrowse enabled="true" />
    <applicationInitialization doAppInitAfterRestart="true">
      <add initializationPage="/ExpandContactHarvester.svc" />
      <add initializationPage="/ExpandContactService.svc" />
    </applicationInitialization>
  </system.webServer><system.serviceModel>
    <client>
      <endpoint name="Ilc.InformationPublisher" address="net.msmq://localhost/private/PublishQueue" binding="netMsmqBinding" bindingConfiguration="messageQueueBinding" contract="Ilc.InformationPublisher.PublishContract.IInformationPublisher" />
      <endpoint name="Ilc.InformationBroker" address="net.msmq://localhost/private/InformationContext" binding="netMsmqBinding" bindingConfiguration="messageQueueBinding" contract="Ilc.InformationBroker.Contract.IInformationBroker" />
    </client>

    <services>
      <service name="Ilc.SampleHarvester.ExpandContact.ExpandContactHarvester" behaviorConfiguration="serviceBehavior">
        <endpoint address="net.msmq://localhost/private/ExpandContactHarvester" binding="netMsmqBinding" contract="Ilc.InformationHarvester.Contract.IInformationHarvester" bindingConfiguration="messageQueueBinding" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Ilc.SampleHarvester.ExpandContact.ExpandContactService" behaviorConfiguration="serviceBehavior">
        <endpoint binding="netTcpBinding" contract="Ilc.InformationHarvester.Contract.IHarvesterService" bindingConfiguration="tcpBinding" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="tcpBinding">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
      <netMsmqBinding>
        <binding name="messageQueueBinding" exactlyOnce="false">
          <security mode="None">
            <transport msmqAuthenticationMode="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netMsmqBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel><log4net>
    <appender name="LogFileAppender" type="Ilc.Diagnostics.IlcRollingFileAppender, Ilc">
      <param name="File" value="harvester-ExpandContact.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%-5p] %message%n" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    <logger name="Ilc">
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
    </logger>
  </log4net><system.runtime.serialization>
    <dataContractSerializer>
      <declaredTypes>
        <add type="Ilc.BusinessObjects.InformationContext, Ilc.BusinessObjects">
          <knownType type="Ilc.BusinessObjects.SharedInformationContext, Ilc.BusinessObjects" />
        </add>
      </declaredTypes>
    </dataContractSerializer>
  </system.runtime.serialization><runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime></configuration>
