<?xml version="1.0" encoding="utf-8"?>

<configuration>
  

  

  <ilc>
    <harvester harvesterCode="6e843ec5-4500-44fe-88bf-8faba76ee266" />
    
    
  </ilc>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=AdventureWorks2012;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    
    
    
  </connectionStrings>
  <system.webServer>
    
    <applicationInitialization>
      <add initializationPage="/AdventureHarvester.svc" />
      <add initializationPage="/AdventureService.svc" />
    </applicationInitialization>
  </system.webServer>
  <system.serviceModel>
    

    <services>
      <service name="Ilc.SampleHarvester.AdventureWorks.AdventureHarvester" behaviorConfiguration="serviceBehavior">
        <endpoint address="net.msmq://localhost/private/AdventureHarvester" binding="netMsmqBinding" contract="Ilc.InformationHarvester.Contract.IInformationHarvester" bindingConfiguration="messageQueueBinding" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Ilc.SampleHarvester.AdventureWorks.AdventureService" behaviorConfiguration="serviceBehavior">
        <endpoint binding="netTcpBinding" contract="Ilc.InformationHarvester.Contract.IHarvesterService" bindingConfiguration="tcpBinding" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    
    
    
  </system.serviceModel>
  <log4net>
    <appender>
      <param name="File" value="harvester-Adventure.log" />
      
      
      
    </appender>
    
  </log4net>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
